{#
/**
 * @file
 * Theme override for a blog list page view.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'blog-list',
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  <hr>
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {# Blog List. #}
  <div class="view-content blog-list__container container g-0">
    <div class="row gx-5">
      <div class="col-lg-4 col-xl-3">
        {# Mobile Blog Filters Toggle. #}
        <div class="blog-list__mobile-filters-toggle">
          <button class="blog-list__mobile-filters-toggle__button btn btn--secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-mobile-blog-filters" aria-controls="offcanvas-mobile-blog-filters">
            {{ 'Blog Filters'|t }}
            <i class="far fa-list blog-list__mobile-filters-toggle__button__icon" aria-hidden="true"></i>
          </button>
        </div>
        {# Desktop Blog Filters. #}
        <div class="blog-list__filters blog-list__filters--desktop">
          {{ 'TODO: Insert filters into the template here.' }}
        </div>
        {# Subscribe Block. #}
        {{ drupal_entity('block', 'simplenewssubscription', check_access=false) }}
      </div>
      <div class="col-lg-8 col-xl-9">
        {% if rows %}
          {{ rows }}
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}
        {% if pager %}
          {{ pager }}
        {% endif %}
        {% if attachment_after %}
          <div class="attachment attachment-after">
            {{ attachment_after }}
          </div>
        {% endif %}
        {% if more %}
          {{ more }}
        {% endif %}
      </div>
    </div>
  </div>
  {# / Blog List. #}

  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}

  {#  Force showing the "Give us your feedback" block since block configurations don't work with this page. #}
  {{ drupal_entity('block', 'giveusyourfeedback', check_access=false) }}
</div>
